@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    color-scheme: light dark;
  }

  body {
    @apply min-w-[320px] min-h-screen overflow-x-hidden;
    @apply text-white bg-gradient-dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(255, 255, 255, 0.87);
  }

  @media (prefers-color-scheme: light) {
    body {
      @apply bg-gradient-light;
      color: #213547;
    }
  }
}
